<a href="https://colab.research.google.com/github/abhikashyapr22/google-colab-notebooks/blob/master/test_mysql_cloud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
! pip install mysql-connector-python-rf

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mysql-connector-python-rf in /usr/local/lib/python3.7/dist-packages (2.2.2)

In [21]:
import mysql.connector as con

In [22]:
mydb = con.connect(host='bjzkelkbad9pb4o2jnai-mysql.services.clever-cloud.com', user='usrjugrmmjdtfig2', passwd='Onh3g3RCFkTzeIHe1sfr', port=3306, database='bjzkelkbad9pb4o2jnai' )

In [23]:
cursor = mydb.cursor()

In [24]:
cursor.execute('show tables')

In [25]:
cursor.fetchall()

[]

In [27]:
cursor.execute("create table student_info (Name varchar(20)) ")

In [31]:
cursor.execute('show tables')

In [32]:
cursor.fetchall()

[(bytearray(b'student_info'),), (bytearray(b'student_info2'),)]

In [30]:
cursor.execute("create table student_info2 (ID int, Name varchar(20), surname varchar(20)) ")

In [43]:
cursor.execute("select * from student_info2")

In [44]:
cursor.fetchall()

[(1, 'Abhishek', 'Kashyap'),
 (2, 'Divyesh', 'Chaudhary'),
 (3, 'Vikrant', 'Chauhan')]

In [42]:
cursor.execute("insert into student_info2 values(3, 'Vikrant', 'Chauhan')")